Repository OpenVADL/openvadl, changes with the labels that .github/labeler.yml gives for each.
All labels: iss, lcb, frontend, hardware

.github/labeler.yml:

enhancement:
  - head-branch: [ '^feat' ]

bug:
  - head-branch: [ '^bug', '^fix' ]

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**
  - head-branch: [ '^doc' ]

iss:
  - changed-files:
      - any-glob-to-any-file: vadl/main/vadl/iss/**

lcb:
  - changed-files:
      - any-glob-to-any-file:
          - vadl/main/vadl/lcb/**
          - vadl/main/vadl/gcb/**

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - vadl/main/vadl/ast/**

hardware:
  - changed-files:
      - any-glob-to-any-file:
          - vadl/main/vadl/rtl/**

parser: Refactor symbol resolver
  vadl/main/vadl/ast/Ast.java
  vadl/main/vadl/ast/AstDumper.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/VadlParser.java
  vadl/test/vadl/ast/TypecheckerAsmTest.java
  vadl/test/vadl/ast/ViamLoweringTest.java
Labels: frontend

docs: Adjust asm sections in tutorial and refman
  docs/refman/refmanual.md
  docs/refman/tutorial.md
Labels: none

asm: Remove unused Instructions AsmType
  vadl/main/vadl/types/asmTypes/AsmType.java
  vadl/main/vadl/types/asmTypes/InstructionsAsmType.java
Labels: none

docs: Add asm directive explanations
  docs/refman/refmanual.md
Labels: none

rtl: Inline instruction behavior into stages
  vadl/main/vadl/dump/infoEnrichers/RtlEnricherCollection.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/rtl/ipg/nodes/RtlReadRegFileNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlWriteMemNode.java
  vadl/main/vadl/rtl/ipg/nodes/SelectByInstructionNode.java
  vadl/main/vadl/rtl/map/MiaMapping.java
  vadl/main/vadl/rtl/passes/InstructionProgressGraphLowerPass.java
  vadl/main/vadl/rtl/passes/InstructionProgressGraphNamePass.java
  vadl/main/vadl/rtl/passes/MiaMappingInlinePass.java
  vadl/main/vadl/rtl/passes/MiaMappingOptimizePass.java
  vadl/main/vadl/rtl/utils/GraphMergeUtils.java
  vadl/main/vadl/rtl/utils/RtlSimplificationRules.java
  vadl/main/vadl/rtl/utils/RtlSimplifier.java
  vadl/main/vadl/rtl/utils/SubgraphUtils.java
  vadl/main/vadl/viam/graph/dependency/SelectNode.java
  vadl/test/vadl/rtl/RtlLoweringTest.java
Labels: hardware

chore: Make CheckStyle happy
  vadl/main/vadl/lcb/passes/llvmLowering/GenerateTableGenRegistersPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/template/utils/DataLayoutProvider.java
  vadl/main/vadl/lcb/templateUtils/RegisterUtils.java
Labels: lcb

lcb: Replace WriteRegFileNode in LlvmInstructionLoweringStrategy and TableGenInstructionRegisterFileOperand
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionRegisterFileOperand.java
Labels: lcb

lcb: Remove Register(File) read/write nodes from GraphNodeVisitor
  vadl/main/vadl/cppCodeGen/GenericCppCodeGeneratorVisitor.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterCodeGeneratorVisitor.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/RegisterRef.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmCompilerInstructionLowerStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/visitors/TableGenNodeVisitor.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenMachineInstructionPrinterVisitor.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenPatternPrinterVisitor.java
  vadl/main/vadl/viam/graph/GraphNodeVisitor.java
  vadl/main/vadl/viam/matching/impl/AnyChildMatcher.java
  vadl/main/vadl/viam/passes/translation_validation/Z3CodeGeneratorVisitor.java
Labels: lcb

lcb: Remove last Register(File) related occurrences
  vadl/main/vadl/gcb/passes/GenerateCompilerRegistersPass.java
  vadl/main/vadl/gcb/valuetypes/CompilerRegister.java
  vadl/main/vadl/lcb/codegen/expansion/CompilerInstructionExpansionCodeGenerator.java
  vadl/main/vadl/lcb/codegen/relocation/RelocationCodeGenerator.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/RegisterRef.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringMemoryLoadStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringMemoryStoreStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionFrameRegisterOperand.java
  vadl/main/vadl/lcb/template/lib/Target/EmitDAGToDAGISelCppFilePass.java
  vadl/main/vadl/viam/InstructionSetArchitecture.java
  vadl/main/vadl/viam/Specification.java
  vadl/main/vadl/viam/passes/translation_validation/TranslationValidation.java
Labels: lcb

lcb: Inline and remove Specification#registerFiles() method
  vadl/main/vadl/lcb/template/clang/lib/Basic/Targets/EmitClangTargetHeaderFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitInstrInfoTableGenFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitRegisterInfoCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitRegisterInfoHeaderFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitTargetMachineCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitAsmUtilsCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitAsmUtilsHeaderFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitInstPrinterHeaderFilePass.java
  vadl/main/vadl/viam/Specification.java
  vadl/main/vadl/viam/passes/translation_validation/TranslationValidation.java
Labels: lcb
