Repository OpenVADL/openvadl, pull requests merged in 2025-09, with the labels that each got.

#489 decoder: Implement semantic encoding verification
  LICENSE.md
  vadl-cli/build.gradle.kts
  vadl/build.gradle.kts
  vadl/main/vadl/configuration/DecoderOptions.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/vdt/passes/VdtEncodingSemanticVerificationPass.java
  vadl/main/vadl/vdt/utils/SequentialInstructionDecoder.java
  vadl/test/vadl/vdt/passes/VdtEncodingSemanticVerificationPassTest.java
Labels: enhancement

#499 cli: Fix qemu source archive extraction
  vadl-cli/main/vadl/cli/Utils.java
Labels: bug

#502 lcb: Fix loading address in aarch64
  sys/aarch64/aarch64.vadl
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/AsmUtils.cpp
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/test/resources/images/lcb_execution_test_aarch64temp/Dockerfile
  vadl/test/resources/images/lcb_execution_test_aarch64temp/base_image/compile.sh
  vadl/test/resources/images/lcb_execution_test_aarch64temp/base_image/lcb_wrapper.sh
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/testSource/sys/aarch64/aarch64-abi.vadl
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
Labels: bug, frontend

#508 gradle: Enable console input for gradlew run tasks
  build.gradle.kts
Labels: bug

#507 ast: Fix bad suggestions for assembly description
  vadl/main/vadl/ast/SymbolTable.java
Labels: bug, frontend

#509 iss: Changed cosimulation config to be able to take a test-executable per client
  vadl-cosim/broker/src/main.rs
  vadl-cosim/config.toml
  vadl-cosim/cosim-lib/src/config/mod.rs
  vadl-cosim/cosim-lib/src/ipc/qemu.rs
Labels: enhancement

#510 frontend: Add alias resource type splitting
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/TypeChecker.java
Labels: enhancement, frontend

#506 ast: Fix crash when undefined symbol is used in encoding
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/test/vadl/ast/NameResolutionTest.java
Labels: bug, frontend

#519 frontend: New alias register slicing behavior
  sys/aarch64/aarch64.vadl
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
Labels: enhancement, frontend

#522 lcb: Set types for branch lowering
  vadl/main/resources/templates/lcb/llvm/lib/Target/ISelLowering.cpp
  vadl/main/vadl/lcb/template/lib/Target/EmitISelLoweringCppFilePass.java
Labels: bug, lcb
