Repository OpenVADL/openvadl, pull requests merged in 2025-07, with the labels that each got.

#342 iss: Add TB-Layer to cosimulation
  vadl-cosim/config.toml
  vadl-cosim/src/annotate-fields.py
  vadl-cosim/src/config.py
  vadl-cosim/src/cosimulation_broker.py
  vadl-cosim/src/cstructs.py
  vadl-cosim/src/qemu_ipc.py
  vadl-cosim/vadl-cosim.py
  vadl/main/resources/templates/iss/contrib/plugins/cosimulation.c
Labels: enhancement

#383 lcb: Support raw field immediates in assembly string
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterCodeGenerator.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterImmediateHandler.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterLabelHandler.java
  vadl/main/vadl/lcb/passes/llvmLowering/CreateFunctionsFromImmediatesPass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitInstPrinterCppFilePass.java
  vadl/main/vadl/viam/Instruction.java
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/sext-zext-trunc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/global_const_loop.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/select-cc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/sext-zext-trunc.ll
  vadl/test/resources/testSource/sys/risc-v/rv3264im.vadl
Labels: enhancement, lcb

#384 asm: Fix immediate decoding in asm parser
  vadl/main/resources/templates/lcb/llvm/lib/Target/AsmParser/AsmParser.cpp
  vadl/main/vadl/lcb/template/lib/Target/AsmParser/EmitAsmParserCppFilePass.java
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/UType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/parser/BType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/parser/JType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/parser/UType.s
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
Labels: bug, lcb

#388 lcb: Bugfixes for aarch64
  vadl/main/vadl/gcb/passes/IdentifyFieldUsagePass.java
  vadl/main/vadl/gcb/passes/operands/model/GcbInstructionImmediateOperand.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterImmediateHandler.java
  vadl/main/vadl/lcb/passes/llvmLowering/CreateFunctionsFromImmediatesPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/TableGenInstruction.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionLabelOperand.java
  vadl/main/vadl/lcb/passes/operands/TableGenInstructionImmediateOperand.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/viam/Instruction.java
  vadl/main/vadl/viam/passes/SnapshotInstructionBehaviorPass.java
Labels: bug, lcb, frontend

#397 viam: Added optimisation for SliceNode
  vadl/main/vadl/viam/graph/dependency/SliceNode.java
Labels: enhancement

#398 lcb: Bugfixes Aarch64
  vadl/main/vadl/gcb/passes/MachineInstructionLabel.java
  vadl/main/vadl/lcb/passes/isaMatching/IsaMachineInstructionMatchingPass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitInstrInfoCppFilePass.java
  vadl/main/vadl/viam/matching/impl/ReadRegisterCounterMatcher.java
  vadl/test/resources/testSource/lcb/riscv32_register_elimination.vadl
  vadl/test/vadl/lcb/aarch64/IsaMachineInstructionMatchingAarch64PassTest.java
Labels: enhancement, lcb

#400 lcb: Fixed name of generated field access functions
  vadl/main/vadl/viam/passes/NormalizeFieldsToFieldAccessFunctionsPass.java
Labels: bug, lcb

#404 lcb: Removed gcc reg aliases
  vadl/main/resources/templates/lcb/clang/lib/Basic/Targets/ClangTarget.cpp
  vadl/main/vadl/lcb/template/clang/lib/Basic/Targets/EmitClangTargetCppFilePass.java
Labels: enhancement, lcb

#405 lcb: Fixed collision in relocations
  vadl/main/vadl/gcb/passes/relocation/model/AutomaticallyGeneratedRelocation.java
  vadl/main/vadl/gcb/passes/relocation/model/Modifier.java
  vadl/main/vadl/gcb/valuetypes/VariantKind.java
  vadl/main/vadl/lcb/passes/relocation/GenerateLinkerComponentsPass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCCodeEmitterCppFilePass.java
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/BType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/PseudoInstructions.s
  vadl/test/vadl/lcb/riscv/riscv32/GenerateLinkerComponentsRiscv32PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/include/llvm/BinaryFormat/ELFRelocs/EmitTargetElfRelocsDefFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/lld/ELF/Arch/EmitLldTargetRelocationsHeaderFilePassTest.java
Labels: bug, lcb

#412 iss: Fix a wrong TCG operation lowering of a signed IssConstExtractNode
  vadl/main/vadl/iss/passes/tcgLowering/TcgOpLoweringPass.java
Labels: bug, iss

#410 frontend: Add udec/sdec and remove decimal built-in
  vadl/main/vadl/ast/AstUtils.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterCodeGeneratorVisitor.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterImmediateHandler.java
  vadl/main/vadl/lcb/codegen/assembly/ParserGenerator.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenInstAliasRenderer.java
  vadl/main/vadl/types/BuiltInTable.java
  vadl/test/vadl/ast/ParserTest.java
Labels: enhancement, lcb, frontend

#411 lcb: Fixes for Aarch64
  vadl/main/vadl/gcb/passes/DetermineRegisterUsesAndDefsPass.java
  vadl/main/vadl/gcb/passes/IsaMatchingUtils.java
  vadl/main/vadl/gcb/passes/MachineInstructionLabel.java
  vadl/main/vadl/gcb/passes/RegisterRef.java
  vadl/main/vadl/gcb/passes/operands/GenerateInstructionOperandsPass.java
  vadl/main/vadl/lcb/passes/isaMatching/IsaMachineInstructionMatchingPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/LlvmLoweringPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/selectionDag/LlvmReadArtificialResourceNode.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringIndirectJumpAndLinkStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringUnconditionalIndirectJumpWithoutLinkRegistersStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringUnconditionalJumpWithLinkRegistersStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbNodeReplacementHandler.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/visitors/TableGenNodeVisitor.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenInstructionRenderer.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenPatternPrinterVisitor.java
  vadl/main/vadl/lcb/template/lib/Target/EmitRegisterInfoCppFilePass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/viam/graph/dependency/ReadArtificialResNode.java
  vadl/main/vadl/viam/graph/dependency/WriteArtificialResNode.java
  vadl/test/resources/snapshots/aarch64/RegisterInfo.cpp
Labels: bug, lcb

#413 ast: Added annotations for status registers
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/gcb/annotations/StatusRegisterAnnotation.java
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
Labels: enhancement, lcb, frontend

#414 lcb: Add an edge case for "hasRedFlags" when behavior is a move
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/vadl/lcb/aarch64/template/EmitInstrInfoTableGenFilePassTest.java
Labels: bug, lcb

#416 lcb: Skip instructions which have multiple outputs
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/snapshots/aarch64/RegisterInfo.cpp
  vadl/test/vadl/lcb/aarch64/template/EmitInstrInfoTableGenFilePassTest.java
Labels: bug, lcb

#420 lcb: Updated matching s.t only stores with immediate are supported
  vadl/main/vadl/gcb/passes/MachineInstructionLabel.java
  vadl/main/vadl/gcb/passes/MachineInstructionLabelGroup.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterCodeGeneratorVisitor.java
  vadl/main/vadl/lcb/passes/isaMatching/IsaMachineInstructionMatchingPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringMemoryStoreStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenMachineInstructionPrinterVisitor.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenPatternPrinterVisitor.java
  vadl/main/vadl/lcb/template/lib/Target/EmitInstrInfoCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitRegisterInfoCppFilePass.java
  vadl/main/vadl/viam/graph/GraphNodeVisitor.java
  vadl/main/vadl/viam/graph/dependency/ReadArtificialResNode.java
  vadl/main/vadl/viam/matching/impl/AnyChildMatcher.java
  vadl/main/vadl/viam/passes/translation_validation/Z3CodeGeneratorVisitor.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/snapshots/aarch64/RegisterInfo.cpp
  vadl/test/vadl/lcb/riscv/riscv32/IsaMachineInstructionMatchingRiscv32PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/IsaMachineInstructionMatchingRiscv64PassTest.java
Labels: bug, lcb

#422 gcb: Fix duplicated operands
  vadl/main/vadl/gcb/passes/operands/GenerateInstructionOperandsPass.java
  vadl/main/vadl/gcb/passes/operands/model/GcbDefaultInstructionOperand.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
Labels: bug, lcb

#426 lcb: Removed typecasts before sign and zero extension
  vadl/main/vadl/lcb/passes/isaMatching/IsaMachineInstructionMatchingPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbNodeReplacementHandler.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/snapshots/rv64im/InstrInfoTableGen.td
Labels: bug, lcb

#428 lcb: Skip inst aliases when field assignment has expression
  vadl/main/vadl/lcb/passes/llvmLowering/LlvmLoweringPass.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
Labels: bug, lcb

#406 iss: Ported cosimulation-broker to rust
  vadl-cosim/.gitignore
  vadl-cosim/Cargo.lock
  vadl-cosim/Cargo.toml
  vadl-cosim/broker/Cargo.toml
  vadl-cosim/broker/src/main.rs
  vadl-cosim/config.toml
  vadl-cosim/cosim-lib/Cargo.toml
  vadl-cosim/cosim-lib/src/cli/mod.rs
  vadl-cosim/cosim-lib/src/config/mod.rs
  vadl-cosim/cosim-lib/src/cosim/mod.rs
  vadl-cosim/cosim-lib/src/diff/diff.rs
  vadl-cosim/cosim-lib/src/diff/mod.rs
  vadl-cosim/cosim-lib/src/ipc/cstructs.rs
  vadl-cosim/cosim-lib/src/ipc/mod.rs
  vadl-cosim/cosim-lib/src/ipc/qemu.rs
  vadl-cosim/cosim-lib/src/ipc/sem.rs
  vadl-cosim/cosim-lib/src/ipc/shm.rs
  vadl-cosim/cosim-lib/src/lib.rs
  vadl-cosim/cosim-lib/src/mod.rs
  vadl-cosim/cosim-lib/src/trace/db.rs
  vadl-cosim/cosim-lib/src/trace/mod.rs
  vadl-cosim/requirements.txt
  vadl-cosim/src/annotate-fields.py
  vadl-cosim/src/config.py
  vadl-cosim/src/cosimulation_broker.py
  vadl-cosim/src/cstructs.py
  vadl-cosim/src/qemu_ipc.py
  vadl-cosim/tui/Cargo.toml
  vadl-cosim/tui/src/main.rs
  vadl-cosim/vadl-cosim.py
  vadl/main/resources/templates/iss/contrib/plugins/cosimulation.c
Labels: enhancement

#429 lcb: Removed inst aliases
  vadl/main/vadl/lcb/passes/llvmLowering/LlvmLoweringPass.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/snapshots/rv64im/InstrInfoTableGen.td
Labels: bug, lcb

#430 lcb: Bugfixes AArch64
  vadl/main/resources/templates/lcb/lld/ELF/Arch/Target.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/AsmParser/AsmParser.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/CMakeLists.txt
  vadl/main/resources/templates/lcb/llvm/lib/Target/ExpandPseudo.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/ExpandPseudo.h
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetMCExpr.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/PassConfig.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/RegisterInfo.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/Utils/ImmediateUtils.h
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterCodeGeneratorVisitor.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterImmediateHandler.java
  vadl/main/vadl/lcb/passes/llvmLowering/CreateFunctionsFromImmediatesPass.java
  vadl/main/vadl/lcb/template/lib/Target/AsmParser/EmitAsmParserCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitExpandPseudoCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitExpandPseudoHeaderFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCCodeEmitterCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCExprCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCInstExpanderCppFilePass.java
  vadl/main/vadl/lcb/template/lld/ELF/Arch/EmitLldArchFilePass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/snapshots/aarch64/RegisterInfo.cpp
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/vadl/lcb/riscv/riscv64/template/EmitImmediateFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/EmitRegisterInfoCppFilePassTest.java
Labels: bug, lcb

#431 lcb: Fixes to compile first program in aarch64
  vadl/main/vadl/cppCodeGen/common/GcbEncodingFunctionCodeGenerator.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterImmediateHandler.java
  vadl/main/vadl/lcb/codegen/expansion/CompilerInstructionExpansionCodeGenerator.java
  vadl/main/vadl/lcb/passes/isaMatching/IsaMachineInstructionMatchingPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/TableGenInstruction.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/testSource/sys/aarch64/aarch64-abi.vadl
Labels: bug, lcb

#434 lcb: Update `special return instruction`
  vadl/test/resources/testSource/sys/aarch64/aarch64-abi.vadl
Labels: bug, lcb

#437 lcb: Created alias registers
  vadl/main/resources/templates/lcb/llvm/lib/Target/RegisterInfo.td
  vadl/main/vadl/gcb/passes/GenerateCompilerRegistersPass.java
  vadl/main/vadl/gcb/valuetypes/CompilerRegisterClass.java
  vadl/main/vadl/gcb/valuetypes/IndexedCompilerRegister.java
  vadl/main/vadl/lcb/passes/llvmLowering/GenerateTableGenRegistersPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/register/TableGenRegisterClass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitISelLoweringCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitRegisterInfoTableGenFilePass.java
  vadl/main/vadl/viam/ArtificialResource.java
  vadl/main/vadl/viam/GeneratesRegisterFileName.java
  vadl/main/vadl/viam/RegisterTensor.java
  vadl/test/resources/snapshots/aarch64/RegisterInfo.td
Labels: enhancement, lcb

#440 iss: Using pthread_mutex and pthread_cond instead of named semaphores to support cosimulation on darwin
  vadl-cosim/cosim-lib/src/cosim/mod.rs
  vadl-cosim/cosim-lib/src/ipc/cstructs.rs
  vadl-cosim/cosim-lib/src/ipc/qemu.rs
  vadl-cosim/cosim-lib/src/ipc/sem.rs
  vadl-cosim/cosim-lib/src/ipc/shm.rs
  vadl-cosim/cosim-lib/src/trace/mod.rs
  vadl/main/resources/templates/iss/contrib/plugins/cosimulation.c
Labels: enhancement

#442 iss: Added before->instruction->after state-transition to diff-context of the cosimulation-report
  vadl-cosim/Cargo.lock
  vadl-cosim/broker/Cargo.toml
  vadl-cosim/broker/src/main.rs
  vadl-cosim/config.toml
  vadl-cosim/cosim-lib/src/cli/mod.rs
  vadl-cosim/cosim-lib/src/config/mod.rs
  vadl-cosim/cosim-lib/src/cosim/mod.rs
  vadl-cosim/cosim-lib/src/diff/diff.rs
  vadl-cosim/cosim-lib/src/diff/mod.rs
  vadl-cosim/cosim-lib/src/ipc/cstructs.rs
  vadl-cosim/cosim-lib/src/ipc/mod.rs
  vadl-cosim/cosim-lib/src/ipc/qemu.rs
  vadl-cosim/cosim-lib/src/ipc/sem.rs
  vadl-cosim/cosim-lib/src/ipc/shm.rs
  vadl-cosim/cosim-lib/src/lib.rs
  vadl-cosim/cosim-lib/src/trace/db.rs
  vadl-cosim/cosim-lib/src/trace/mod.rs
  vadl/main/resources/templates/iss/contrib/plugins/cosimulation.c
Labels: enhancement

#443 asm: Add abbreviated JALR form to rv32im asm grammar
  vadl/test/resources/llvm/riscv/asm/rv32im/parser/IType.s
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
Labels: enhancement
