Repository OpenVADL/openvadl, pull requests merged in 2025-05, with the labels that each got.

#203 lcb: Printed InstAlias
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetInstPrinter.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetInstPrinter.h
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/and.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/imm.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/indirectbr.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/large_stack.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O0/pic.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/analyze-branch.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/and.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/branch-opt.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/calling-conv.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/fast-cc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/global_const_loop.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/imm.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/indirectbr.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/large_stack.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/pic.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/rotl-rotr.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/select-cc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv32im/O3/sext-zext-trunc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/and.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/imm.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/indirectbr.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/large_stack.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/pic.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/static_global_var.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/alu64.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/analyze-branch.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/and.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/branch-opt.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/calling-conv.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/cmp-bool.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/fast-cc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/global_const_loop.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/imm.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/indirectbr.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/large_stack.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/mul.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/pic.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/rotl-rotr.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/select-cc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/sext-zext-trunc.ll
Labels: enhancement

#182 frontend: Add annotation support
  docs/refman/tutorial.md
  java-annotations/main/vadl/javaannotations/ast/ChildAnnotationProcessor.java
  sys/v-risc/VarRisc.vadl
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/Ast.java
  vadl/main/vadl/ast/AstDumper.java
  vadl/main/vadl/ast/AstVisitor.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ModelRemover.java
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/main/vadl/utils/functionInterfaces/TriConsumer.java
  vadl/main/vadl/viam/RegisterFile.java
  vadl/main/vadl/viam/Relocation.java
  vadl/test/resources/dumps/mini.dump
  vadl/test/resources/dumps/mini.vadl
  vadl/test/resources/dumps/rv64im.dump
  vadl/test/resources/macros/common-defs.expanded.vadl
  vadl/test/resources/macros/hexagon.expanded.vadl
  vadl/test/resources/macros/hexagon.vadl
  vadl/test/resources/macros/rv3264im.expanded.vadl
  vadl/test/resources/macros/rv3264im.vadl
  vadl/test/resources/testFiles/mini.vadl
  vadl/test/resources/testSource/ast/riscv/rv3264im.vadl
  vadl/test/resources/testSource/ast/riscv/rv32im.vadl
  vadl/test/resources/testSource/lcb/riscv32_pattern_trees.vadl
  vadl/test/resources/testSource/sys/risc-v/rv3264im.vadl
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
  vadl/test/resources/testSource/unit/register/valid_alias_regfile.vadl
  vadl/test/resources/testSource/unit/register/valid_regfile.vadl
  vadl/test/vadl/ast/AnnotationTest.java
  vadl/test/vadl/ast/AstDiffPrinter.java
Labels: docs, enhancement, frontend

#214 typechecker: Fix crash typechecking enum field before enum definition
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/test/vadl/ast/TypecheckerTest.java
Labels: bug, frontend

#215 parser: Improve location utility function naming
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/vadl.ATG
Labels: frontend

#218 ci: Added image QEMU riscv64
  .github/workflows/build-qemu-riscv64.yml
  docker/iss/qemu-riscv64/Dockerfile
  docker/iss/qemu-riscv64/README.md
Labels: enhancement

#220 lcb: Setup qemu test image for lcb execution
  .github/workflows/build-lcb-execution-test-rv64im.yml
  vadl/test/resources/images/lcb_execution_test_rv64im/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/compile.sh
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/filecheck.sh
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/helper/init.S
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/helper/link.ld
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/lcb_wrapper.sh
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/llvm.sh
Labels: enhancement

#221 asm: Emit correct kind of relocations for unknown symbols
  vadl/main/vadl/gcb/passes/DetermineRelocationTypeForFieldPass.java
  vadl/main/vadl/gcb/passes/RelocationKindCtx.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCCodeEmitterCppFilePass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/BType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/PseudoInstructions.s
Labels: enhancement, lcb

#229 parser: Improve error message
  buildSrc/src/main/kotlin/vadl/CocoR.gradle.kts
  vadl/build.gradle.kts
  vadl/main/vadl/ast/Parser.frame
  vadl/main/vadl/ast/ParserUtils.java
Labels: frontend

#234 sys:var-risc Fix opcode encoding of SYS insn
  sys/v-risc/VarRisc.vadl
Labels: bug

#228 embench: Setup embench for riscv64
  vadl/test/resources/embench/__run_spike_rv64gc.sh
  vadl/test/resources/embench/benchmark-extras/rv64-run-benchmarks-spike-clang-lcb-O0.sh
  vadl/test/resources/embench/config/riscv64/boards/spike-clang-O0/link.ld
  vadl/test/resources/embench/config/riscv64/boards/spike-clang-O3/link.ld
  vadl/test/resources/embench/config/riscv64/boards/spike-lcb-O0/link.ld
  vadl/test/resources/embench/config/riscv64/boards/spike-lcb-O3/link.ld
  vadl/test/resources/images/lcb_execution_test_rv64im/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/lcb_wrapper.sh
  vadl/test/vadl/lcb/riscv/EmbenchQemuRiscv64SimulationTest.java
Labels: enhancement, lcb

#237 decoder: Fix issues with split bit splices encoding
  vadl/main/vadl/vdt/passes/VdtLoweringPass.java
  vadl/main/vadl/vdt/utils/PatternUtils.java
  vadl/test/vadl/utils/codegen/StringBuilderAppendableTest.java
  vadl/test/vadl/vdt/utils/PatternUtilsTest.java
Labels: bug

#212 iss: Add `memory region` to `processor` (discussion #138)
  vadl/main/resources/templates/iss/hw/gen-arch/gen-machine.c
  vadl/main/resources/templates/iss/hw/gen-arch/gen-machine.h
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/AsmLL1Checker.java
  vadl/main/vadl/ast/AstVisitor.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ModelRemover.java
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/main/vadl/iss/codegen/IssFirmwareCodeGenerator.java
  vadl/main/vadl/iss/codegen/IssMemoryRegionInitCodeGen.java
  vadl/main/vadl/iss/passes/IssMemoryDetectionPass.java
  vadl/main/vadl/iss/passes/extensions/MemoryInfo.java
  vadl/main/vadl/iss/passes/extensions/MemoryRegionInfo.java
  vadl/main/vadl/iss/template/IssTemplateRenderingPass.java
  vadl/main/vadl/iss/template/hw/EmitIssHwMachineCPass.java
  vadl/main/vadl/viam/DefinitionVisitor.java
  vadl/main/vadl/viam/Memory.java
  vadl/main/vadl/viam/MemoryRegion.java
  vadl/main/vadl/viam/Processor.java
  vadl/test/resources/dumps/rv64im.dump
  vadl/test/resources/macros/hexagon.expanded.vadl
  vadl/test/resources/macros/hexagon.vadl
  vadl/test/resources/testSource/ast/riscv/rv64im.vadl
  vadl/test/resources/testSource/passes/issTcgScheduling/valid_branch_1.vadl
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
  vadl/test/resources/testSource/sys/risc-v/rv64im.vadl
Labels: enhancement, frontend, iss

#238 frontend: Support multi-inheritance on ISA definitions
  vadl/main/vadl/ast/AsmLL1Checker.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/ConstantEvaluator.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/VadlParser.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/BType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/PseudoInstructions.s
  vadl/test/resources/snapshots/rv64im/InstrInfoTableGen.td
  vadl/test/resources/testSource/sys/risc-v/rv3264im.vadl
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
  vadl/test/resources/testSource/sys/risc-v/rv64im.vadl
  vadl/test/resources/testSource/sys/risc-v/rvcsr.vadl
  vadl/test/vadl/ast/FrontendIntegrationTest.java
  vadl/test/vadl/ast/MacroTests.java
  vadl/test/vadl/ast/ParserTest.java
  vadl/test/vadl/ast/StatementTest.java
  vadl/test/vadl/lcb/riscv/riscv32/GenerateLinkerComponentsRiscv32PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/CheckMachineInstructionTableGenOperandsRiscv64PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/CheckPseudoInstructionTableGenOperandsRiscv64PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/Disassembler/EmitDisassemblerCppFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/EmitImmediateFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/EmitRegisterInfoCppFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/MCTargetDesc/EmitMCInstExpanderCppFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/include/llvm/BinaryFormat/ELFRelocs/EmitTargetElfRelocsDefFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/lld/ELF/Arch/EmitLldManualEncodingHeaderFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/lld/ELF/Arch/EmitLldTargetRelocationsHeaderFilePassTest.java
  vadl/test/vadl/viam/Rv3264imTest.java
Labels: enhancement, frontend

#195 frontend: Replace `register file` by `register`
  sys/aarch64/aarch64.vadl
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/AstUtils.java
  vadl/main/vadl/ast/AstVisitor.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ModelRemover.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/main/vadl/utils/NPair.java
  vadl/main/vadl/viam/ArtificialResource.java
  vadl/test/resources/dumps/mini.dump
  vadl/test/resources/dumps/mini.vadl
  vadl/test/resources/dumps/rv64im.dump
  vadl/test/resources/macros/hexagon.expanded.vadl
  vadl/test/resources/macros/hexagon.vadl
  vadl/test/resources/macros/isaDefs.expanded.vadl
  vadl/test/resources/macros/isaDefs.vadl
  vadl/test/resources/macros/rv3264im.expanded.vadl
  vadl/test/resources/macros/rv3264im.vadl
  vadl/test/resources/testFiles/mini.vadl
  vadl/test/resources/testSource/ast/riscv/rv3264im.vadl
  vadl/test/resources/testSource/lcb/riscv32_pattern_trees.vadl
  vadl/test/resources/testSource/passes/algebraicSimplification/algebraic_simplification.vadl
  vadl/test/resources/testSource/passes/singleResourceWriteValidation/invalid_regfile_1.vadl
  vadl/test/resources/testSource/passes/singleResourceWriteValidation/invalid_regfile_2.vadl
  vadl/test/resources/testSource/passes/singleResourceWriteValidation/invalid_regfile_3.vadl
  vadl/test/resources/testSource/passes/singleResourceWriteValidation/invalid_regfile_4.vadl
  vadl/test/resources/testSource/passes/singleResourceWriteValidation/valid_regfile_writes.vadl
  vadl/test/resources/testSource/sys/risc-v/rv3264im.vadl
  vadl/test/resources/testSource/sys/risc-v/rvcsr.vadl
  vadl/test/resources/testSource/unit/function/valid_functionUsage.vadl
  vadl/test/resources/testSource/unit/register/valid_alias_regfile.vadl
  vadl/test/resources/testSource/unit/register/valid_pc_alias_regfile.vadl
  vadl/test/resources/testSource/unit/register/valid_reg_read.vadl
  vadl/test/resources/testSource/unit/register/valid_reg_write.vadl
  vadl/test/resources/testSource/unit/register/valid_regfile.vadl
  vadl/test/vadl/ast/AnnotationTest.java
  vadl/test/vadl/ast/AsmLL1CheckerTest.java
  vadl/test/vadl/ast/InstructionTest.java
  vadl/test/vadl/ast/NameResolutionTest.java
  vadl/test/vadl/ast/ParserTest.java
  vadl/test/vadl/ast/TypecheckerAbiTest.java
  vadl/test/vadl/ast/TypecheckerAsmTest.java
  vadl/test/vadl/ast/TypecheckerTest.java
  vadl/test/vadl/ast/ViamLoweringTest.java
Labels: enhancement, frontend

#249 lcb: Fixed wikisort benchmark
  vadl/test/resources/embench/benchmark-extras/rv32-run-benchmarks-spike-clang-lcb-O0.sh
  vadl/test/resources/embench/benchmark-extras/rv32-run-benchmarks-spike-clang-lcb-O3.sh
  vadl/test/resources/embench/benchmark-extras/rv64-run-benchmarks-spike-clang-lcb-O0.sh
  vadl/test/resources/embench/benchmark-extras/rv64-run-benchmarks-spike-clang-lcb-O3.sh
  vadl/test/resources/embench/src/wikisort/libwikisort.c
Labels: bug

#243 frontend: Fix pretty print
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/test/resources/dumps/rv64im.dump
  vadl/test/resources/macros/complex-types.expanded.vadl
  vadl/test/resources/macros/hexagon.expanded.vadl
  vadl/test/resources/macros/macro-producing-macros.expanded.vadl
  vadl/test/resources/macros/operators.expanded.vadl
  vadl/test/resources/macros/rv3264im.expanded.vadl
  vadl/test/vadl/ast/AstTestUtils.java
  vadl/test/vadl/ast/BinaryPrecedenceTest.java
  vadl/test/vadl/ast/ParserTest.java
Labels: bug, frontend

#246 frontend: Support slices on assignments
  vadl/main/vadl/ast/AstUtils.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/Statement.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/utils/GraphUtils.java
  vadl/main/vadl/viam/Constant.java
  vadl/main/vadl/viam/graph/dependency/ReadArtificialResNode.java
  vadl/main/vadl/viam/graph/dependency/ReadMemNode.java
  vadl/main/vadl/viam/graph/dependency/WriteArtificialResNode.java
  vadl/test/resources/testSource/sys/risc-v/rv3264im.vadl
  vadl/test/vadl/ast/CallIndexExprTest.java
  vadl/test/vadl/ast/ExceptionTest.java
  vadl/test/vadl/ast/FrontendIntegrationTest.java
Labels: bug, frontend

#250 lcb: Run the optimizer on derived graphs and enhance dumps
  vadl/main/vadl/dump/BehaviorTimelineDisplay.java
  vadl/main/vadl/dump/CollectBehaviorDotGraphPass.java
  vadl/main/vadl/dump/InfoUtils.java
  vadl/main/vadl/dump/infoEnrichers/LcbEnricherCollection.java
  vadl/main/vadl/dump/infoEnrichers/ViamEnricherCollection.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/LlvmLoweringRecord.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringConditionalBranchesStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringIndirectJumpStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringUnconditionalJumpsStrategyImpl.java
  vadl/main/vadl/pass/PassResults.java
Labels: enhancement, lcb

#256 embench: Fixed paths after renaming
  vadl/test/resources/embench/benchmark-extras/run-benchmarks-spike-clang-upstream-O3.sh
  vadl/test/resources/embench/benchmark-extras/rv32-get-number-executed-instructions-spike-clang-lcb.sh
  vadl/test/resources/embench/spike_get_number_executed_instructions.sh
  vadl/test/vadl/lcb/riscv/EmbenchBenchmarkNumberOfExecutedInstructionsSpikeRiscv32SimulationTest.java
Labels: bug

#253 lcb: Fix riscv64 embench
  docker/lcb/llvm19_base_image/Dockerfile
  vadl/main/vadl/cppCodeGen/GenericCppCodeGeneratorVisitor.java
  vadl/test/resources/embench/benchmark-extras/rv64-run-benchmarks-spike-clang-lcb-O0.sh
  vadl/test/resources/embench/benchmark-extras/rv64-run-benchmarks-spike-clang-lcb-O3.sh
  vadl/test/resources/images/lcb_execution_test_rv64im/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/compile.sh
  vadl/test/resources/images/spike_rv32im/Dockerfile
  vadl/test/resources/images/spike_rv32im/base_image/spike.sh
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/branch-opt.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/cmp-bool.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/fast-cc.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/select-cc.ll
  vadl/test/resources/llvm/riscv/spike/float_add_cmp.c
  vadl/test/resources/llvm/riscv/spike/minver_min.c
  vadl/test/resources/llvm/riscv/spike/minver_minver.c
  vadl/test/resources/llvm/riscv/spike/minver_mmul.c
  vadl/test/resources/llvm/riscv/spike/simple_minver.c
  vadl/test/resources/testSource/sys/risc-v/rv64i.vadl
  vadl/test/resources/testSource/sys/risc-v/rv64im.vadl
Labels: bug

#260 lcb: Changed number of argument registers for riscv32 I-extension
  vadl/test/resources/testSource/sys/risc-v/rv32i.vadl
Labels: bug

#262 cli: Add default ISA lowering of root ISA
  vadl-cli/main/vadl/cli/CheckCommand.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/types/BuiltInTable.java
  vadl/main/vadl/vdt/impl/theiling/TheilingDecodeTreeGenerator.java
  vadl/main/vadl/vdt/passes/VdtLoweringPass.java
Labels: frontend

#258 parser: Rank suggestions for invalid syntax types error message based on edit distance.
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/utils/Leivenshtein.java
Labels: enhancement, frontend

#261 frontend: Add [ htif ] annotation
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/test/resources/testSource/sys/risc-v/rv32i.vadl
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
  vadl/test/resources/testSource/sys/risc-v/rv64i.vadl
  vadl/test/resources/testSource/sys/risc-v/rv64im.vadl
  vadl/test/resources/testSource/sys/risc-v/rvcsr.vadl
Labels: enhancement, frontend

#259 viam: Allow multiple field references in FieldAccess
  vadl/main/vadl/cppCodeGen/common/AccessFunctionCodeGenerator.java
  vadl/main/vadl/cppCodeGen/common/GcbAccessOrExtractionFunctionCodeGenerator.java
  vadl/main/vadl/lcb/template/superClass/AbstractEmitImmediateFilePass.java
  vadl/main/vadl/vdt/target/iss/IssDecisionTreeCodeGenerator.java
  vadl/main/vadl/viam/Format.java
  vadl/test/vadl/cppCodeGen/EncodingCodeGeneratorCppVerificationTest.java
  vadl/test/vadl/lcb/riscv/riscv64/verification/ImmediateExtractionCodeGeneratorCppVerificationRiscv64Test.java
Labels: bug, lcb

#272 decode: Extract and evaluate format fields from encoding
  vadl/main/vadl/utils/BigIntUtils.java
  vadl/main/vadl/utils/FieldExtractionUtils.java
  vadl/main/vadl/vdt/target/common/DecisionTreeDecoder.java
  vadl/main/vadl/vdt/target/common/dto/DecodedInstruction.java
  vadl/main/vadl/vdt/utils/BitVector.java
  vadl/test/vadl/vdt/target/common/DecisionTreeDecoderTest.java
Labels: enhancement

#275 parser: Improve suggestions for unknown symbol errors
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/utils/Leivenshtein.java
  vadl/test/vadl/ast/ViamLoweringTest.java
Labels: enhancement, frontend

#279 language: Add CTZ and CTO built-ins
  docs/refman/refmanual.md
  vadl/main/resources/templates/common/vadl-builtins.h
  vadl/main/vadl/iss/passes/IssNormalizationPass.java
  vadl/main/vadl/types/BuiltInTable.java
  vadl/main/vadl/utils/VadlBuiltInEmptyNoStatusDispatcher.java
  vadl/main/vadl/utils/VadlBuiltInNoStatusDispatcher.java
  vadl/main/vadl/viam/Constant.java
  vadl/test/vadl/cppCodeGen/BuiltinCTest.java
Labels: docs, enhancement, iss

#280 typechecker: Add suggestions to invalid type errors
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/utils/Levenshtein.java
Labels: enhancement, frontend

#276 lcb: Use lcb-test-base as new base image for execution tests
  vadl/test/resources/embench/__run_spike_rv64gc.sh
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O0/board.cfg
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O3/board.cfg
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O0/board.cfg
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O3/board.cfg
  vadl/test/resources/embench/config/riscv32/boards/vadl-clang/board.cfg
  vadl/test/resources/embench/config/riscv32/boards/vadl-lcb/board.cfg
  vadl/test/resources/embench/config/riscv64/boards/spike-clang-O0/board.cfg
  vadl/test/resources/embench/config/riscv64/boards/spike-clang-O3/board.cfg
  vadl/test/resources/embench/config/riscv64/boards/spike-lcb-O0/board.cfg
  vadl/test/resources/embench/config/riscv64/boards/spike-lcb-O3/board.cfg
  vadl/test/resources/images/lcb_execution_test_aarch64/Dockerfile
  vadl/test/resources/images/lcb_execution_test_aarch64/base_image/Dockerfile
  vadl/test/resources/images/lcb_execution_test_aarch64/base_image/lcb_wrapper.sh
  vadl/test/resources/images/lcb_execution_test_rv64im/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/compile.sh
  vadl/test/resources/images/lcb_execution_test_rv64im/base_image/lcb_wrapper.sh
  vadl/test/resources/images/spike_rv32im/Dockerfile
  vadl/test/resources/images/spike_rv32im/base_image/Dockerfile
  vadl/test/resources/images/spike_rv32im/base_image/lcb_wrapper.sh
  vadl/test/resources/images/spike_rv32im/base_image/spike.sh
Labels: enhancement

#287 ast: Allow machine instructions in abi as special instruction
  docs/refman/tutorial.md
  vadl/main/resources/templates/lcb/llvm/lib/Target/InstrInfo.td
  vadl/main/vadl/ast/AstVisitor.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ModelRemover.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/main/vadl/lcb/passes/pseudo/PseudoExpansionFunctionGeneratorPass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitISelLoweringCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitInstrInfoTableGenFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCInstExpanderCppFilePass.java
  vadl/main/vadl/viam/Abi.java
  vadl/test/resources/dumps/rv64im.dump
  vadl/test/resources/testSource/ast/riscv/rv32i.vadl
  vadl/test/resources/testSource/ast/riscv/rv32im.vadl
  vadl/test/resources/testSource/ast/riscv/rv64i.vadl
  vadl/test/resources/testSource/ast/riscv/rv64im.vadl
  vadl/test/resources/testSource/lcb/riscv32_pattern_trees.vadl
  vadl/test/resources/testSource/sys/risc-v/rv32i.vadl
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
  vadl/test/resources/testSource/sys/risc-v/rv64i.vadl
  vadl/test/resources/testSource/sys/risc-v/rv64im.vadl
  vadl/test/vadl/ast/AsmLL1CheckerTest.java
  vadl/test/vadl/ast/TypecheckerAbiTest.java
  vadl/test/vadl/ast/TypecheckerAsmTest.java
  vadl/test/vadl/ast/ViamLoweringTest.java
Labels: docs, enhancement, lcb, frontend

#286 iss: Test AAch64 spec with autogenerated instruction tests using a generated Disassembler
  vadl/main/resources/templates/common/vadl-builtins.h
  vadl/main/resources/templates/iss/include/vadl-builtins.h
  vadl/main/resources/templates/iss/target/gen-arch/vadl-builtins.h
  vadl/main/vadl/cppCodeGen/CppTypeMap.java
  vadl/main/vadl/iss/passes/IssBuiltInArgTruncOptPass.java
  vadl/main/vadl/iss/passes/IssExtractOptimizationPass.java
  vadl/main/vadl/iss/passes/IssGdbInfoExtractionPass.java
  vadl/main/vadl/iss/passes/IssNormalizationPass.java
  vadl/main/vadl/iss/passes/IssTcgSchedulingPass.java
  vadl/main/vadl/iss/passes/extensions/RegInfo.java
  vadl/main/vadl/iss/template/target/EmitIssGdbStubPass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/types/BuiltInTable.java
  vadl/main/vadl/utils/Disassembler.java
  vadl/main/vadl/utils/FieldExtractionUtils.java
  vadl/main/vadl/vdt/utils/Instruction.java
  vadl/main/vadl/viam/Constant.java
  vadl/main/vadl/viam/Format.java
  vadl/main/vadl/viam/graph/Node.java
  vadl/main/vadl/viam/graph/dependency/BuiltInCall.java
  vadl/main/vadl/viam/graph/dependency/LetNode.java
  vadl/main/vadl/viam/graph/dependency/SelectNode.java
  vadl/main/vadl/viam/graph/dependency/SliceNode.java
  vadl/main/vadl/viam/passes/functionInliner/Inliner.java
  vadl/test/resources/testSource/passes/canonicalization/valid_builtin_constant_evaluation.vadl
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/resources/testSource/sys/aarch64/virt.vadl
  vadl/test/vadl/cppCodeGen/BuiltinCTest.java
  vadl/test/vadl/iss/AutoAssembler.java
  vadl/test/vadl/iss/IssInstrTest.java
  vadl/test/vadl/iss/aarch64/IssA64InstrTest.java
  vadl/test/vadl/utils/DisassemblerTest.java
  vadl/test/vadl/vdt/target/common/DecisionTreeDecoderTest.java
  vadl/test/vadl/viam/graph/dependency/BuiltInCallTest.java
Labels: enhancement, iss, skip-changelog

#292 frontend: Add `[ zero ]` annotation to `alias register` definition
  sys/aarch64/aarch64.vadl
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/configuration/IssConfiguration.java
  vadl/main/vadl/cppCodeGen/mixins/CDefaultMixins.java
  vadl/main/vadl/iss/DataFlowAnalysis.java
  vadl/main/vadl/iss/passes/IssBuiltInSimplificationPass.java
  vadl/main/vadl/iss/passes/tcgLowering/nodes/TcgLoadMemory.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/utils/GraphUtils.java
  vadl/main/vadl/viam/graph/control/AbstractBeginNode.java
  vadl/main/vadl/viam/passes/functionInliner/ArtificialResInlinerPass.java
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/vadl/iss/aarch64/IssA64InstrTest.java
Labels: enhancement, frontend, iss

#296 Fixing regressions in master
  vadl/main/vadl/gcb/passes/GenerateValueRangeImmediatePass.java
  vadl/main/vadl/gcb/passes/NormalizeFieldsToFieldAccessFunctionsPass.java
  vadl/test/vadl/ast/TypecheckerAbiTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/AdditionWithZeroSimplificationRuleTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/AndWithFalseSimplificationRuleTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/AndWithTrueSimplificationRuleTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/DivisionWithOneSimplificationRuleTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/MultiplicationWithOneSimplificationRuleTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/MultiplicationWithZeroSimplificationRuleTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/OrWithFalseSimplificationRuleTest.java
  vadl/test/vadl/viam/passes/algebraic_simplication/rules/impl/OrWithTrueSimplificationRuleTest.java
Labels: bug, lcb

#295 lcb: Defined test macros __LP64__ and __LP64
  vadl/main/vadl/lcb/template/clang/lib/Basic/Targets/EmitClangTargetCppFilePass.java
  vadl/main/vadl/lcb/template/clang/lib/Basic/Targets/EmitClangTargetsFilePass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/test/resources/llvm/riscv/spike/rv64im/has_LP64macro.c
  vadl/test/resources/llvm/riscv/spike/rv64im/has__LP64__macro.c
  vadl/test/vadl/lcb/riscv/QemuRiscvSimulationTest.java
  vadl/test/vadl/lcb/riscv/riscv64/QemuRiscv64SimulationTest.java
Labels: bug, lcb

#301 iss: Support EXTR instruction by adding LSR decomposer
  vadl/main/vadl/iss/passes/opDecomposition/Decomposer.java
  vadl/main/vadl/iss/passes/opDecomposition/IssOpDecompositionPass.java
  vadl/main/vadl/iss/passes/opDecomposition/decomposer/IDecomposer.java
  vadl/main/vadl/iss/passes/opDecomposition/decomposer/ShiftDecomposer.java
  vadl/main/vadl/utils/GraphUtils.java
  vadl/main/vadl/viam/Constant.java
  vadl/main/vadl/viam/graph/dependency/BuiltInCall.java
  vadl/main/vadl/viam/graph/dependency/SignExtendNode.java
  vadl/main/vadl/viam/graph/visualize/DotGraphVisualizer.java
  vadl/main/vadl/viam/passes/functionInliner/ArtificialResInlinerPass.java
  vadl/main/vadl/viam/passes/functionInliner/FieldAccessInlinerPass.java
  vadl/main/vadl/viam/passes/functionInliner/FunctionInlinerPass.java
  vadl/main/vadl/viam/passes/functionInliner/Inliner.java
  vadl/test/resources/testSource/sys/aarch64/virt.vadl
  vadl/test/vadl/iss/aarch64/IssA64InstrTest.java
  vadl/test/vadl/iss/passes/opDecomposition/IssOpDecompositionPassTest.java
Labels: iss

#303 parser: Fix empty identifiers
  vadl/main/vadl/ast/MacroExpander.java
Labels: bug, frontend

#306 parser: Add record returns to models
  vadl/main/vadl/ast/vadl.ATG
  vadl/test/vadl/ast/MacroTests.java
Labels: enhancement, frontend

#302 lcb: Migrated spike to qemu for riscv32
  vadl/test/resources/embench/__run_spike.sh
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O0/boardsupport.c
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O0/common.h
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O0/init.S
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O0/link.ld
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O0/trap.S
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O0/vars.spike.S
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O3/boardsupport.c
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O3/common.h
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O3/init.S
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O3/link.ld
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O3/trap.S
  vadl/test/resources/embench/config/riscv32/boards/spike-clang-O3/vars.spike.S
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O0/boardsupport.c
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O0/common.h
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O0/init.S
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O0/link.ld
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O0/trap.S
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O0/vars.spike.S
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O3/boardsupport.c
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O3/common.h
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O3/init.S
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O3/link.ld
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O3/trap.S
  vadl/test/resources/embench/config/riscv32/boards/spike-lcb-O3/vars.spike.S
  vadl/test/resources/embench/config/riscv32/boards/spike/boardsupport.c
  vadl/test/resources/embench/config/riscv32/boards/spike/init.S
  vadl/test/resources/embench/config/riscv32/boards/spike/link.ld
  vadl/test/resources/embench/config/riscv32/boards/spike/trap.S
  vadl/test/resources/embench/config/riscv32/boards/spike/vars.spike.S
  vadl/test/resources/images/lcb_execution_test_rv32im/Dockerfile
  vadl/test/resources/images/lcb_execution_test_rv32im/base_image/helper/init.S
  vadl/test/vadl/lcb/AsmFileCheckTest.java
  vadl/test/vadl/lcb/LcbDockerExecutionTest.java
  vadl/test/vadl/lcb/LcbDockerInputFileExecutionTest.java
  vadl/test/vadl/lcb/riscv/EmbenchBenchmarkNumberOfExecutedInstructionsSpikeRiscv32SimulationTest.java
  vadl/test/vadl/lcb/riscv/EmbenchQemuRiscv64SimulationTest.java
  vadl/test/vadl/lcb/riscv/LlvmQemuRiscvFileCheckTest.java
  vadl/test/vadl/lcb/riscv/LlvmRiscvAssemblyTest.java
  vadl/test/vadl/lcb/riscv/QemuRiscvSimulationTest.java
  vadl/test/vadl/lcb/riscv/SpikeRiscvSimulationTest.java
  vadl/test/vadl/lcb/riscv/riscv32/QemuRiscv32SimulationTest.java
  vadl/test/vadl/lcb/riscv/riscv64/EmbenchQemuRiscv64SimulationTest.java
Labels: enhancement

#308 parser: Fix inherit records from extended ISA
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/main/vadl/error/DiagnosticBuilder.java
  vadl/test/vadl/ast/MacroTests.java
Labels: bug, frontend

#317 parser: Fix crash with annotations on encodings
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
Labels: bug, frontend

#314 frontend: Rename ExtendId and IdToStr to AsId and AsStr
  docs/refman/aarch32.vadl
  docs/refman/tutorial.md
  sys/aarch64/aarch64.vadl
  sys/v-risc/VarRisc.vadl
  vadl/main/vadl/ast/AstVisitor.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/ConstantEvaluator.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/test/resources/macros/hexagon.vadl
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/resources/testSource/sys/risc-v/rvcsr.vadl
  vadl/test/resources/testSource/sys/v-risc/VarRisc.vadl
  vadl/test/vadl/ast/MacroTests.java
Labels: docs, enhancement, frontend
