Repository OpenVADL/openvadl, pull requests merged in 2025-04, with the labels that each got.

#158 docs: ABI improvements
  docs/refman/tutorial.md
Labels: docs

#159 iss: Generate one translation file per ISA specification
  vadl/main/resources/templates/iss/target/gen-arch/insn_trans/trans_isa.c.inc
  vadl/main/resources/templates/iss/target/gen-arch/translate.c
  vadl/main/vadl/dump/HtmlDumpPass.java
  vadl/main/vadl/iss/template/target/EmitIssInsnTransCIncPass.java
  vadl/main/vadl/iss/template/target/EmitIssTranslateCPass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/template/AbstractMultiTemplateRenderingPass.java
  vadl/main/vadl/template/AbstractTemplateRenderingPass.java
  vadl/main/vadl/viam/passes/verification/ViamVerificationPass.java
  vadl/test/vadl/lcb/riscv/riscv64/template/EmitImmediateFilePassTest.java
Labels: enhancement, iss

#160 frontend: Add exception definition support
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/main/vadl/dump/HtmlDumpPass.java
  vadl/main/vadl/dump/entities/DefinitionEntity.java
  vadl/main/vadl/viam/ExceptionDef.java
  vadl/main/vadl/viam/Procedure.java
  vadl/main/vadl/viam/graph/dependency/ProcCallNode.java
  vadl/test/vadl/ast/ExceptionTest.java
Labels: enhancement, frontend

#164 setup: Upgrade to JDK 21
  .idea/copyright/profiles_settings.xml
  .idea/misc.xml
  .idea/scopes/VADL_Java.xml
  README.md
  build.gradle.kts
  buildSrc/src/main/kotlin/vadl/IdeConfigPlugin.gradle.kts
  docs/handbook/main.md
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  java-annotations/build.gradle.kts
  java-annotations/main/vadl/javaannotations/HandlerProcessor.java
  vadl/test/resources/embench/Dockerfile
Labels: docs

#157 ast: Add default recursive visitor and refactor AstDumper
  java-annotations/main/vadl/javaannotations/ast/Child.java
  java-annotations/main/vadl/javaannotations/ast/ChildAnnotationProcessor.java
  vadl-cli/main/vadl/cli/BaseCommand.java
  vadl/main/vadl/ast/Ast.java
  vadl/main/vadl/ast/AstDumper.java
  vadl/main/vadl/ast/AstVisitor.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ModelRemover.java
  vadl/main/vadl/ast/ParserMain.java
  vadl/main/vadl/ast/Statement.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/main/vadl/viam/DefinitionVisitor.java
  vadl/test/resources/dumps/constexpr-enums.dump
  vadl/test/resources/dumps/imports.dump
  vadl/test/resources/dumps/mini.dump
  vadl/test/resources/dumps/rv64im.dump
  vadl/test/resources/embench/aarch64-compiler-rt/README.txt
  vadl/test/resources/testSource/ast/riscv/rv3264im.vadl
  vadl/test/resources/testSource/ast/riscv/rv32i.vadl
  vadl/test/resources/testSource/ast/riscv/rv32im.vadl
  vadl/test/resources/testSource/ast/riscv/rv64i.vadl
  vadl/test/resources/testSource/ast/riscv/rv64im.vadl
  vadl/test/vadl/ast/AstDumpTests.java
  vadl/test/vadl/ast/AstFinder.java
  vadl/test/vadl/ast/AstTestUtils.java
  vadl/test/vadl/ast/StatementTest.java
Labels: enhancement, frontend

#170 typechecker: Fix crash when symbol points to definition that isn't a expr
  vadl/main/vadl/ast/AsmLL1Checker.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/VadlParser.java
  vadl/main/vadl/ast/ViamLowering.java
Labels: bug, frontend

#172 typechecker: Fix crash with zero bitwidth
  vadl/main/vadl/ast/ConstantType.java
  vadl/main/vadl/types/BitsType.java
Labels: bug, frontend

#168 ast: Fixed error message when pseudo instruction was not found
  vadl/main/vadl/ast/ViamLowering.java
  vadl/test/vadl/ast/ViamLoweringTest.java
Labels: bug, frontend

#176 frontend: Refactor symbol collecting
  .idea/misc.xml
  vadl/main/vadl/ast/AstVisitor.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/ParserUtils.java
  vadl/main/vadl/ast/Statement.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/Ungrouper.java
  vadl/main/vadl/ast/VadlParser.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/test/resources/dumps/rv64im.dump
  vadl/test/vadl/ast/AsmDescriptionTests.java
  vadl/test/vadl/ast/AstFinder.java
  vadl/test/vadl/ast/TypecheckerProcessorTest.java
Labels: enhancement, frontend

#177 gcb+lcb: Refactor linker components and emit relocations
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetMCCodeEmitter.cpp
  vadl/main/vadl/cppCodeGen/common/ValueRelocationFunctionCodeGenerator.java
  vadl/main/vadl/gcb/passes/relocation/model/AutomaticallyGeneratedRelocation.java
  vadl/main/vadl/gcb/passes/relocation/model/CompilerRelocation.java
  vadl/main/vadl/gcb/passes/relocation/model/HasRelocationComputationAndUpdate.java
  vadl/main/vadl/gcb/passes/relocation/model/ImplementedUserSpecifiedRelocation.java
  vadl/main/vadl/gcb/passes/relocation/model/Modifier.java
  vadl/main/vadl/gcb/passes/relocation/model/RelocationsBeforeElfExpansion.java
  vadl/main/vadl/gcb/passes/relocation/model/UserSpecifiedRelocation.java
  vadl/main/vadl/gcb/valuetypes/VariantKind.java
  vadl/main/vadl/lcb/passes/relocation/GenerateLinkerComponentsPass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitISelLoweringCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitAsmBackendCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCCodeEmitterCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/Utils/EmitBaseInfoFilePass.java
  vadl/main/vadl/lcb/template/lld/ELF/Arch/EmitLldTargetRelocationsHeaderFilePass.java
  vadl/main/vadl/lcb/template/utils/BaseInfoFunctionProvider.java
  vadl/main/vadl/viam/Relocation.java
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/BType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/PseudoInstructions.s
  vadl/test/resources/llvm/riscv/asm/rv32im/parser/PseudoInstructions.s
  vadl/test/resources/testSource/sys/risc-v/rv32im.vadl
  vadl/test/vadl/lcb/riscv/riscv32/GenerateLinkerComponentsRiscv32PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/MCTargetDesc/EmitMCInstExpanderCppFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/lld/ELF/Arch/EmitLldTargetRelocationsHeaderFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/verification/RelocationCodeGeneratorCppVerificationRiscv64Test.java
Labels: lcb, skip-changelog

#174 viam: Hardcoded setting label for LGA
  vadl/main/resources/templates/lcb/llvm/lib/Target/AsmPrinter.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetMCCodeEmitter.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetMCInstExpander.cpp
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetMCInstExpander.h
  vadl/main/vadl/cppCodeGen/FunctionCodeGenerator.java
  vadl/main/vadl/cppCodeGen/common/AccessFunctionCodeGenerator.java
  vadl/main/vadl/cppCodeGen/common/AsmParserFunctionCodeGenerator.java
  vadl/main/vadl/cppCodeGen/common/PureFunctionCodeGenerator.java
  vadl/main/vadl/cppCodeGen/mixins/CDefaultMixins.java
  vadl/main/vadl/iss/passes/IssNormalizationPass.java
  vadl/main/vadl/iss/passes/tcgLowering/TcgOpLoweringPass.java
  vadl/main/vadl/lcb/codegen/expansion/CompilerInstructionExpansionCodeGenerator.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/viam/graph/Graph.java
  vadl/main/vadl/viam/graph/control/NewLabelNode.java
  vadl/main/vadl/viam/graph/dependency/LabelNode.java
  vadl/main/vadl/viam/passes/HardcodeLGALabelPass.java
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O0/pic.ll
  vadl/test/resources/llvm/riscv/llvmIR/rv64im/O3/pic.ll
  vadl/test/vadl/lcb/riscv/riscv64/template/MCTargetDesc/EmitMCInstExpanderCppFilePassTest.java
Labels: lcb, iss

#180 parser: Refactor symbol resolver
  vadl/main/vadl/ast/Ast.java
  vadl/main/vadl/ast/AstDumper.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/VadlParser.java
  vadl/test/vadl/ast/TypecheckerAsmTest.java
  vadl/test/vadl/ast/ViamLoweringTest.java
Labels: enhancement, frontend

#186 docs: Adjust assembly sections
  docs/refman/refmanual.md
  docs/refman/tutorial.md
  vadl/main/vadl/types/asmTypes/AsmType.java
  vadl/main/vadl/types/asmTypes/InstructionsAsmType.java
Labels: docs

#183 iss: Refactor register(file) to register tensor
  buildSrc/src/main/kotlin/vadl/CocoR.gradle.kts
  java-annotations/main/vadl/javaannotations/AbstractAnnotationChecker.java
  vadl-cli/main/vadl/cli/IssCommand.java
  vadl/build.gradle.kts
  vadl/main/resources/templates/iss/gdb-xml/gen-arch-cpu.xml
  vadl/main/resources/templates/iss/target/gen-arch/cpu.c
  vadl/main/resources/templates/iss/target/gen-arch/cpu.h
  vadl/main/resources/templates/iss/target/gen-arch/machine.c
  vadl/main/resources/templates/iss/target/gen-arch/translate.c
  vadl/main/vadl/iss/codegen/IssExceptionHandlingCodeGenerator.java
  vadl/main/vadl/iss/passes/IssGdbInfoExtractionPass.java
  vadl/main/vadl/iss/passes/IssInfoRetrievalPass.java
  vadl/main/vadl/iss/passes/IssNormalizationPass.java
  vadl/main/vadl/iss/passes/IssPcAccessConversionPass.java
  vadl/main/vadl/iss/passes/IssTcgSchedulingPass.java
  vadl/main/vadl/iss/passes/IssTcgVAllocationPass.java
  vadl/main/vadl/iss/passes/IssVerificationPass.java
  vadl/main/vadl/iss/passes/extensions/ExceptionInfo.java
  vadl/main/vadl/iss/passes/extensions/RegInfo.java
  vadl/main/vadl/iss/passes/nodes/IssStaticPcRegNode.java
  vadl/main/vadl/iss/passes/nodes/TcgVRefNode.java
  vadl/main/vadl/iss/passes/tcgLowering/TcgCtx.java
  vadl/main/vadl/iss/passes/tcgLowering/TcgOpLoweringPass.java
  vadl/main/vadl/iss/passes/tcgLowering/TcgV.java
  vadl/main/vadl/iss/passes/tcgLowering/nodes/TcgGetVar.java
  vadl/main/vadl/iss/template/IssRenderUtils.java
  vadl/main/vadl/iss/template/IssTemplateRenderingPass.java
  vadl/main/vadl/iss/template/target/EmitIssCpuHeaderPass.java
  vadl/main/vadl/iss/template/target/EmitIssCpuSourcePass.java
  vadl/main/vadl/iss/template/target/EmitIssGdbStubPass.java
  vadl/main/vadl/iss/template/target/EmitIssTranslateCPass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/utils/Pair.java
  vadl/main/vadl/utils/Triple.java
  vadl/main/vadl/viam/InstructionSetArchitecture.java
  vadl/main/vadl/viam/Register.java
  vadl/main/vadl/viam/RegisterFile.java
  vadl/main/vadl/viam/RegisterTensor.java
  vadl/main/vadl/viam/Resource.java
  vadl/main/vadl/viam/graph/dependency/ReadMemNode.java
  vadl/main/vadl/viam/graph/dependency/ReadRegNode.java
  vadl/main/vadl/viam/graph/dependency/ReadRegTensorNode.java
  vadl/main/vadl/viam/graph/dependency/ReadResourceNode.java
  vadl/main/vadl/viam/graph/dependency/WriteRegTensorNode.java
  vadl/main/vadl/viam/graph/dependency/WriteResourceNode.java
Labels: iss

#189 lcb: Fix pseudo expansion decoding and assembly printer encoding
  vadl/main/resources/templates/lcb/llvm/lib/Target/MCTargetDesc/TargetInstPrinter.cpp
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterCodeGeneratorVisitor.java
  vadl/main/vadl/lcb/codegen/expansion/CompilerInstructionExpansionCodeGenerator.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitInstPrinterCppFilePass.java
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/PseudoInstructions.s
  vadl/test/resources/testSource/sys/risc-v/rv3264im.vadl
  vadl/test/vadl/lcb/riscv/riscv64/template/MCTargetDesc/EmitMCInstExpanderCppFilePassTest.java
Labels: bug, lcb, frontend

#199 lcb: Merged concepts TableGenOperands and TableGenParameters together
  vadl/main/vadl/lcb/codegen/model/llvm/ValueType.java
  vadl/main/vadl/lcb/passes/llvmLowering/LlvmLoweringPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/selectionDag/LlvmBasicBlockSD.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/selectionDag/LlvmFieldAccessRefNode.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/selectionDag/LlvmNodeReplaceable.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/selectionDag/LlvmReadRegFileNode.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmCompilerInstructionLowerStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LoweringStrategyUtils.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringAddImmediateStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringFrameIndexHelper.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringIndirectJumpStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringMemoryLoadStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringMemoryStoreStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmPseudoInstructionLoweringUnconditionalJumpsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/conditionals/LlvmInstructionLoweringLessThanImmediateUnsignedConditionalsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenInstructionRenderer.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenMachineInstructionPrinterVisitor.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenPatternPrinterVisitor.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/ReferencesImmediateOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/TableGenCompilerInstruction.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/InstructionOperandPrintable.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenConstantOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenDefaultInstructionOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionBareSymbolOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionConcreteRegisterOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionFrameRegisterOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionImmediateOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionIndexedRegisterFileOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionLabelOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/TableGenInstructionRegisterFileOperand.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/tableGenOperand/tableGenParameter/NoTableGenParameter.java
  vadl/main/vadl/lcb/template/lib/Target/AsmParser/EmitAsmParserCppFilePass.java
  vadl/test/resources/snapshots/rv64im/InstrInfoTableGen.td
  vadl/test/vadl/lcb/riscv/riscv64/CheckPseudoInstructionTableGenOperandsRiscv64PassTest.java
Labels: lcb
