Repository OpenVADL/openvadl, pull requests merged in 2025-06, with the labels that each got.

#321 typechecker: Fix wrong long multiply type
  vadl/main/vadl/ast/TypeChecker.java
Labels: bug, frontend

#327 typechecker: Fix with invalid range in format field
  vadl/main/vadl/ast/ConstantEvaluator.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/test/vadl/ast/TypecheckerTest.java
Labels: bug, frontend

#273 rtl: Map and inline instruction behavior to MiA description
  vadl/main/vadl/dump/InfoUtils.java
  vadl/main/vadl/dump/infoEnrichers/RtlEnricherCollection.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/rtl/analysis/HazardAnalysis.java
  vadl/main/vadl/rtl/ipg/InstructionProgressGraph.java
  vadl/main/vadl/rtl/ipg/InstructionProgressGraphVisualizer.java
  vadl/main/vadl/rtl/ipg/nodes/RtlConditionalReadNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlInstructionWordSliceNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlIsInstructionNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlOneHotDecodeNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlReadMemNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlReadRegTensorNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlSelectByInstructionNode.java
  vadl/main/vadl/rtl/ipg/nodes/RtlWriteMemNode.java
  vadl/main/vadl/rtl/map/MiaBuiltInCallMatcher.java
  vadl/main/vadl/rtl/map/MiaMapping.java
  vadl/main/vadl/rtl/passes/HazardAnalysisPass.java
  vadl/main/vadl/rtl/passes/InstructionProgressGraphCreationPass.java
  vadl/main/vadl/rtl/passes/InstructionProgressGraphLowerPass.java
  vadl/main/vadl/rtl/passes/InstructionProgressGraphMergePass.java
  vadl/main/vadl/rtl/passes/InstructionProgressGraphNamePass.java
  vadl/main/vadl/rtl/passes/MiaMappingCreationPass.java
  vadl/main/vadl/rtl/passes/MiaMappingInlinePass.java
  vadl/main/vadl/rtl/passes/MiaMappingOptimizePass.java
  vadl/main/vadl/rtl/utils/GraphMergeUtils.java
  vadl/main/vadl/rtl/utils/RtlSimplificationRules.java
  vadl/main/vadl/rtl/utils/RtlSimplifier.java
  vadl/main/vadl/rtl/utils/SubgraphUtils.java
  vadl/main/vadl/types/BuiltInTable.java
  vadl/main/vadl/utils/GraphUtils.java
  vadl/main/vadl/viam/Logic.java
  vadl/main/vadl/viam/RegisterFile.java
  vadl/main/vadl/viam/RegisterTensor.java
  vadl/main/vadl/viam/Stage.java
  vadl/main/vadl/viam/graph/Node.java
  vadl/main/vadl/viam/graph/dependency/MiaBuiltInCall.java
  vadl/main/vadl/viam/graph/dependency/SelectNode.java
  vadl/main/vadl/viam/graph/dependency/WriteStageOutputNode.java
  vadl/main/vadl/viam/graph/visualize/DotGraphVisualizer.java
  vadl/main/vadl/viam/matching/impl/ConstantIntegerValueMatcher.java
  vadl/main/vadl/viam/passes/algebraic_simplication/AlgebraicSimplifier.java
  vadl/main/vadl/viam/passes/dummyPasses/DummyMiaPass.java
  vadl/test/vadl/rtl/InstructionBehaviorCheckPass.java
  vadl/test/vadl/rtl/RtlLoweringTest.java
Labels: enhancement, hardware

#332 lcb: #331 crash during varrisc
  sys/v-risc/ABI.vadl
  vadl/main/vadl/gcb/passes/MachineInstructionLabelGroup.java
  vadl/main/vadl/gcb/passes/SetMissingConfigurationValuesPass.java
  vadl/main/vadl/lcb/codegen/assembly/ParserGenerator.java
  vadl/main/vadl/lcb/codegen/expansion/CompilerInstructionExpansionCodeGenerator.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/selectionDag/LlvmFieldAccessRefNode.java
  vadl/main/vadl/lcb/passes/llvmLowering/domain/selectionDag/LlvmReadRegFileNode.java
Labels: bug, lcb

#339 lowering: Convert crash to error when calling pseudo instructions
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/error/DiagnosticBuilder.java
  vadl/main/vadl/utils/Levenshtein.java
Labels: bug, frontend

#343 iss: Optimize selects with constant condition
  vadl/main/vadl/iss/codegen/IssCMixins.java
  vadl/main/vadl/iss/passes/IssNormalizationPass.java
  vadl/main/vadl/iss/passes/IssTcgSchedulingPass.java
  vadl/main/vadl/iss/passes/TcgPassUtils.java
  vadl/main/vadl/iss/passes/nodes/IssSelectNode.java
  vadl/main/vadl/iss/passes/tcgLowering/TcgOpLoweringPass.java
  vadl/main/vadl/iss/passes/tcgLowering/nodes/TcgConstSelectNode.java
  vadl/main/vadl/viam/graph/control/DirectionalNode.java
  vadl/test/vadl/iss/IssInstrTest.java
  vadl/test/vadl/iss/IssLoweringTest.java
Labels: enhancement, iss

#345 iss: Add `[undefined when]` annotation
  .run/Benchmark Number Executed Instructions RV32IM.run.xml
  .run/Embench riscv32.run.xml
  .run/Embench riscv64.run.xml
  .run/LLVM FileCheck (riscv32).run.xml
  .run/OpenVADL Test Suite.run.xml
  .run/RV64IM_ Embench Test.run.xml
  .run/RV64I_ Custom Tests .run.xml
  .run/RV64I_ Instr Tests.run.xml
  .run/RV64M_ Instr Tests.run.xml
  .run/Spike riscv32.run.xml
  .run/Spike riscv64.run.xml
  sys/aarch64/aarch64.vadl
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/vdt/target/iss/IssDecisionTreeCodeGenerator.java
  vadl/main/vadl/viam/annotations/InstructionUndefinedAnno.java
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/vadl/iss/AutoAssembler.java
  vadl/test/vadl/iss/aarch64/IssA64InstrTest.java
Labels: enhancement, frontend

#348 iss: Fix CPU state register overflow
  vadl/main/resources/templates/iss/target/gen-arch/cpu.h
  vadl/main/vadl/iss/DataFlowAnalysis.java
  vadl/main/vadl/iss/passes/IssInfoRetrievalPass.java
  vadl/main/vadl/iss/passes/extensions/RegInfo.java
  vadl/main/vadl/viam/passes/statusBuiltInInlinePass/RemoveUnusedStatusFlagsFromBuiltinsPass.java
  vadl/test/resources/scripts/iss_qemu/main.py
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/resources/testSource/sys/aarch64/virt.vadl
  vadl/test/vadl/iss/AutoAssembler.java
  vadl/test/vadl/iss/aarch64/IssA64InstrTest.java
Labels: bug, iss

#340 frontend: Add tensor types
  docs/refman/refmanual.md
  docs/refman/tensordef.vadl
  vadl/main/vadl/ast/AsmGrammarDefaultRules.java
  vadl/main/vadl/ast/BehaviorLowering.java
  vadl/main/vadl/ast/ConstantEvaluator.java
  vadl/main/vadl/ast/Expr.java
  vadl/main/vadl/ast/FormatType.java
  vadl/main/vadl/ast/MacroExpander.java
  vadl/main/vadl/ast/SymbolTable.java
  vadl/main/vadl/ast/TensorType.java
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/ast/vadl.ATG
  vadl/test/vadl/ast/StatementTest.java
  vadl/test/vadl/ast/TypecheckerTest.java
Labels: docs, enhancement, frontend

#353 lcb: Extend MCInstExpander
  sys/aarch64/aarch64.vadl
  vadl/main/vadl/lcb/codegen/expansion/CompilerInstructionExpansionCodeGenerator.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCInstExpanderCppFilePass.java
  vadl/main/vadl/viam/graph/control/InstrCallNode.java
  vadl/test/vadl/lcb/riscv/riscv64/template/MCTargetDesc/EmitMCInstExpanderCppFilePassTest.java
Labels: enhancement, lcb

#355 iss: Fix ROR built-in
  vadl/main/vadl/ast/TypeChecker.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/iss/passes/IssNormalizationPass.java
  vadl/main/vadl/vdt/target/iss/IssDecisionTreeCodeGenerator.java
  vadl/test/resources/embench/build_virt-iss-a64.sh
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/vadl/iss/aarch64/IssA64InstrTest.java
Labels: bug, frontend, iss

#357 lcb: Refactored replacement hooks
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringAddImmediateStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringConditionalBranchesStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringDefaultStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringIndirectJumpStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringLoadUpperImmediateStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringMemoryLoadStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringMemoryStoreStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringUnconditionalJumpsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringXoriAndOriStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/conditionals/LlvmInstructionLoweringLessThanImmediateUnsignedConditionalsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/conditionals/LlvmInstructionLoweringLessThanSignedConditionalsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/conditionals/LlvmInstructionLoweringLessThanUnsignedConditionalsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbBranchEndNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbBuiltInCallNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbConstantNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbFieldAccessRefNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbFuncCallReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbIfNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbInstrCallNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbInstrEndNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbLetNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbMulNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbMulhsNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbMulhuNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbNodeReplacementHandler.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbNodeReplacementHandlerWithBasicBlockReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbReadMemNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbReadRegFileNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbReadRegNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbReturnNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbSelectNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbSignExtendNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbSliceNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbTruncateNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbWriteMemNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbWriteRegFileNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbWriteRegNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbZeroExtendNodeReplacement.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LlvmUnlowerableNodeReplacement.java
Labels: lcb

#360 viam: Keep source code location when copy
  vadl/main/vadl/viam/graph/Graph.java
Labels: enhancement

#358 decoder: Extend CLI to switch between decoder genereators
  vadl-cli/main/vadl/cli/BaseCommand.java
  vadl-cli/main/vadl/cli/Helpers.java
  vadl/main/vadl/configuration/DecoderOptions.java
  vadl/main/vadl/configuration/GeneralConfiguration.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/vdt/passes/VdtLoweringPass.java
  vadl/test/resources/testFiles/rv64i.decode
  vadl/test/vadl/vdt/impl/regular/RiscV64ITest.java
Labels: enhancement

#367 lcb: Refactored predicates
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/cppCodeGen/common/GcbAccessOrPredicateFunctionCodeGenerator.java
  vadl/main/vadl/gcb/passes/encodingGeneration/GenerateFieldAccessEncodingAndPredicateFunctionsPass.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/EncodingGenerationStrategy.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/EncodingPredicateGenerationStrategy.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/impl/ArithmeticImmediateStrategyPredicate.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/impl/ShiftedImmediateStrategy.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/impl/ShiftedImmediateStrategyPredicate.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/impl/TrivialImmediateStrategyPredicate.java
  vadl/main/vadl/lcb/passes/llvmLowering/CreateFunctionsFromImmediatesPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/lowering/TableGenImmediateOperandRenderer.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/TableGenImmediateRecord.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/main/vadl/viam/DefinitionVisitor.java
  vadl/main/vadl/viam/Format.java
  vadl/main/vadl/viam/ViamError.java
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/BType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/JType.s
  vadl/test/resources/snapshots/rv64im/InstrInfoTableGen.td
  vadl/test/vadl/cppCodeGen/z3/EncodingCodeGeneratorSymbolicVerificationTest.java
  vadl/test/vadl/lcb/AbstractPredicateCodeGeneratorCppVerificationTest.java
  vadl/test/vadl/lcb/codegen/docker/EncodingCodeGeneratorTestInputs.java
  vadl/test/vadl/lcb/riscv/riscv64/PredicateCodeGeneratorCppNegativeCasesVerificationTest.java
  vadl/test/vadl/lcb/riscv/riscv64/PredicateCodeGeneratorCppPositiveCasesVerificationTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/EmitImmediateFilePassTest.java
Labels: bug, lcb, frontend

#369 lcb: Removed warning
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
Labels: bug, lcb

#372 frontend: Add v-risc to integration tests
  vadl/test/vadl/ast/FrontendIntegrationTest.java
Labels: enhancement

#375 ast: Fixed typo
  vadl/main/vadl/ast/TypeChecker.java
Labels: frontend

#374 lcb: Fix field access functions in predicates
  sys/aarch64/aarch64.vadl
  vadl/main/vadl/cppCodeGen/common/GcbAccessFunctionCodeGenerator.java
  vadl/main/vadl/cppCodeGen/common/PredicateFunctionCodeGenerator.java
  vadl/main/vadl/gcb/passes/PredicateFunctionInlinerPass.java
  vadl/main/vadl/gcb/passes/encodingGeneration/GenerateFieldAccessEncodingAndPredicateFunctionsPass.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/EncodingPredicateGenerationStrategy.java
  vadl/main/vadl/gcb/passes/encodingGeneration/strategies/impl/ShiftedImmediateStrategyPredicate.java
  vadl/main/vadl/lcb/passes/llvmLowering/CreateFunctionsFromImmediatesPass.java
  vadl/main/vadl/pass/PassOrders.java
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/vadl/lcb/AbstractPredicateCodeGeneratorCppVerificationTest.java
  vadl/test/vadl/lcb/EncodingCodeGeneratorCppVerificationTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/EmitImmediateFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/verification/ImmediateExtractionCodeGeneratorCppVerificationRiscv64Test.java
Labels: bug, lcb

#376 lcb: Fixes in MCCodeEmitter
  vadl/main/vadl/gcb/passes/DetermineRelocationTypeForFieldPass.java
  vadl/main/vadl/gcb/passes/RelocationKindCtx.java
  vadl/main/vadl/gcb/passes/relocation/model/AutomaticallyGeneratedRelocation.java
  vadl/main/vadl/gcb/passes/relocation/model/HasRelocationComputationAndUpdate.java
  vadl/main/vadl/gcb/passes/relocation/model/ImplementedUserSpecifiedRelocation.java
  vadl/main/vadl/gcb/passes/relocation/model/Modifier.java
  vadl/main/vadl/gcb/valuetypes/VariantKind.java
  vadl/main/vadl/lcb/codegen/assembly/AssemblyInstructionPrinterCodeGeneratorVisitor.java
  vadl/main/vadl/lcb/codegen/expansion/CompilerInstructionExpansionCodeGenerator.java
  vadl/main/vadl/lcb/passes/relocation/GenerateLinkerComponentsPass.java
  vadl/main/vadl/lcb/template/lib/Target/MCTargetDesc/EmitMCCodeEmitterCppFilePass.java
  vadl/main/vadl/viam/graph/HasRegisterTensor.java
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/BType.s
  vadl/test/resources/llvm/riscv/asm/rv32im/codeemitter/PseudoInstructions.s
  vadl/test/vadl/gcb/riscv/riscv64/passes/DetermineRelocationTypeForFieldPassTest.java
  vadl/test/vadl/lcb/riscv/riscv32/GenerateLinkerComponentsRiscv32PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/include/llvm/BinaryFormat/ELFRelocs/EmitTargetElfRelocsDefFilePassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/template/lld/ELF/Arch/EmitLldTargetRelocationsHeaderFilePassTest.java
Labels: bug, lcb
