Repository OpenVADL/openvadl, pull requests merged in 2025-10, with the labels that each got.

#524 lcb: Updated test spec
  sys/aarch64/aarch64.vadl
  vadl/main/resources/templates/lcb/llvm/lib/Target/CallingConv.td
  vadl/main/resources/templates/lcb/llvm/lib/Target/InstrInfo.cpp
  vadl/main/vadl/ast/AnnotationTable.java
  vadl/main/vadl/ast/Definition.java
  vadl/main/vadl/ast/ViamLowering.java
  vadl/main/vadl/gcb/passes/DetermineRegisterUsesAndDefsPass.java
  vadl/main/vadl/gcb/passes/IsaMatchingUtils.java
  vadl/main/vadl/gcb/passes/RegisterRef.java
  vadl/main/vadl/gcb/passes/operands/GenerateInstructionOperandsPass.java
  vadl/main/vadl/gcb/passes/operands/model/GcbInstructionRegisterFileOperand.java
  vadl/main/vadl/iss/passes/extensions/RegInfo.java
  vadl/main/vadl/iss/template/target/EmitIssGdbStubPass.java
  vadl/main/vadl/iss/template/target/EmitIssTranslateCPass.java
  vadl/main/vadl/lcb/passes/isaMatching/IsaMachineInstructionMatchingPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/GenerateTableGenRegistersPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/LlvmInstructionLoweringStrategy.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringConditionalBranchesStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/LlvmInstructionLoweringIndirectJumpAndLinkStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/conditionals/LlvmInstructionLoweringLessThanImmediateUnsignedConditionalsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/instruction/conditionals/LlvmInstructionLoweringLessThanUnsignedConditionalsStrategyImpl.java
  vadl/main/vadl/lcb/passes/llvmLowering/strategies/nodeLowering/LcbNodeReplacementHandler.java
  vadl/main/vadl/lcb/template/LcbTemplateRenderingPass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitCallingConvTableGenFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitISelLoweringCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitInstrInfoCppFilePass.java
  vadl/main/vadl/lcb/templateUtils/RegisterUtils.java
  vadl/main/vadl/rtl/passes/InstructionProgressGraphCreationPass.java
  vadl/main/vadl/viam/Abi.java
  vadl/main/vadl/viam/ArtificialResource.java
  vadl/main/vadl/viam/GeneratesRegisterFileName.java
  vadl/main/vadl/viam/RegisterResource.java
  vadl/main/vadl/viam/RegisterTensor.java
  vadl/main/vadl/viam/graph/HasRegisterTensor.java
  vadl/main/vadl/viam/graph/dependency/ReadArtificialResNode.java
  vadl/main/vadl/viam/graph/dependency/ReadRegTensorNode.java
  vadl/main/vadl/viam/graph/dependency/WriteArtificialResNode.java
  vadl/main/vadl/viam/graph/dependency/WriteMemNode.java
  vadl/main/vadl/viam/graph/dependency/WriteRegTensorNode.java
  vadl/test/resources/snapshots/aarch64/InstrInfoTableGen.td
  vadl/test/resources/snapshots/aarch64/RegisterInfo.cpp
  vadl/test/resources/snapshots/aarch64/RegisterInfo.td
  vadl/test/resources/testSource/sys/aarch64/aarch64-abi.vadl
  vadl/test/resources/testSource/sys/aarch64/aarch64.vadl
  vadl/test/vadl/ast/TypecheckerAbiTest.java
  vadl/test/vadl/lcb/aarch64/IsaMachineInstructionMatchingAarch64PassTest.java
  vadl/test/vadl/lcb/riscv/riscv64/IsaMachineInstructionMatchingRiscv64PassTest.java
Labels: lcb, frontend, iss, hardware

#531 lcb: Added customization to fix truncate selection error
  vadl/main/resources/templates/lcb/llvm/lib/Target/ISelLowering.cpp
  vadl/main/vadl/gcb/valuetypes/CompilerRegister.java
  vadl/main/vadl/gcb/valuetypes/GeneralCompilerRegister.java
  vadl/main/vadl/gcb/valuetypes/IndexedCompilerRegister.java
  vadl/main/vadl/lcb/passes/llvmLowering/GenerateTableGenRegistersPass.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/register/TableGenAliasRegisterClass.java
  vadl/main/vadl/lcb/passes/llvmLowering/tablegen/model/register/TableGenRegisterClass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitISelLoweringCppFilePass.java
  vadl/main/vadl/lcb/template/lib/Target/EmitRegisterInfoTableGenFilePass.java
Labels: bug, lcb

#535 ci: Add ppc64 toolchain to merged toolchain dockerfile
  docker/iss/merged-toolchain/Dockerfile
Labels: enhancement
